* {
    main-bg:            #241534B3;
    main-fg:            #E5CCFFE6;
    main-br:            #997384E6;
    main-ex:            #5E3A53E6;
    select-bg:          #F0EFAA80;
    select-fg:          #525129E6;
}
