* {
    main-bg:            #070707B3;
    main-fg:            #FCFCFCE6;
    main-br:            #434343E6;
    main-ex:            #222222E6;
    select-bg:          #D6D6D680;
    select-fg:          #1A1A1AE6;
}
