* {
    main-bg:            #2E3440B3;
    main-fg:            #CCDDFFE6;
    main-br:            #465062E6;
    main-ex:            #3B4252E6;
    select-bg:          #AACAF080;
    select-fg:          #293B52E6;
}
